* {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    width: 1080px;
  }
  
  header {
    width: 1080px;
    height: 160px;
    background-color: orange;
  }
  
  nav {
    width: 216px;
    height: 640px;
    background-color: green;
  }
  
  main {
    width: 540px;
    height: 640px;
    background-color: rgb(184, 173, 110);
    display: flex;
    gap: 30px;
    padding: 0px 54px;
  }
  
  main .card {
    background-color: tomato;
    color: whitesmoke;
    width: 200px;
    height: 200px;
    background-color: tomato;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  aside {
    width: 216px;
    height: 640px;
    background-color: rgb(50, 102, 136);
  }
  
  footer {
    width: 1080px;
    height: 160px;
    background-color: rgb(215, 158, 207);
  }
  
  main {
    font-size: 20px;
  }

  main .card h2 {
    font-size: 32px;
  }

  main .card p {
    font-size: 12.8px;
  }