* {
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    height: 100%;
  }
  
  header {
    width: 100%;
    height: 10rem;
    background-color: orange;
  }
  
  nav {
    width: 20%;
    height: 100%;
    background-color: green;
    padding: 8.46% 0%;
  }
  
  main {
    width: 50%;
    height: 100%;
    background-color: rgb(184, 173, 110);
    display: flex;
    gap: 10%;
    padding: 0% 5%;
  }
  main .card {
    background-color: tomato;
    color: whitesmoke;
    width: 40%;
    height: min-content;
    background-color: tomato;
  }
  
  aside {
    width: 20%;
    height: 100%;
    background-color: rgb(50, 102, 136);
    padding: 8.46% 0%;
  }
  
  footer {
    width: 100%;
    height: 10rem;
    background-color: rgb(215, 158, 207);
  }
  
  main {
    font-size: 20px;
  }
  main .card {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20%;
  }
  main .card h2 {
    font-size: 100%;
  }
  main .card p {
    font-size: 70%;
  }